/* All */

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

figure {
    margin: 0;
}


/* ~~~ Nav ~~~ */

nav {
    background: #09659A;
}

#linav {
    list-style: none;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#linav li {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.813em;
    text-shadow: 0 0 1px #000;
}

#linav li:last-of-type {
    margin-left: auto;
    padding-right: 10em;
    text-shadow: none;
}

.boxt {
    border-bottom: 0.3em solid transparent;
    font-size: 1em;
    font-weight: normal;
    height: 52px;
    margin-right: 2.6em;
    display: flex;
    align-content: center;
    align-items: center;
}

.boxt:hover {
    border-bottom: 0.3em solid white;
    transition: all 0.3s;
}

#languet {
    background: #09659A;
    border: none;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* ~~~ Main ~~~ */


/* ~~~ "Recherche" ~~~ */

header {
    background: #1F8ECD;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#xr {
    padding-bottom: 2.8vw;
    padding-top: 8vw;
    width: 33vw;
}

#search {
    padding-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#recherche {
    background: #DBF0FC;
    border: none;
    border-radius: 0.250em;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    color: #444;
    font-family: helvetica, sans-serif;
    font-size: 1.5vw;
    margin-bottom: 0.38em;
    padding: 1em 0 1em 1.5em;
    width: 38vw;
}


/* ~~~ "Articles" ~~~ */

.h2bg {
    background: #EAEAEA;
    display: flex;
    justify-content: center;
}

#h2 {
    color: #4a4a4a;
    font-family: Helvetica, sans-serif;
    font-size: 1.500em;
    padding-top: 1em;
}

.imgs {
    background: #EAEAEA;
    color: #444;
    padding: 1.225em 1.750em 3em 1.750em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgs figure {
    list-style: none;
    width: 30vw;
}

.imgs h3 {
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.imgs img {
    width: 30vw
}

.imgs p {
    color: #6c6c6c;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875em;
}


/* ~~~ Footer ~~~ */

footer {
    background: #0585CB;
}

footer ul {
    margin-top: 0;
    padding-top: 2.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer li {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.813em;
    font-weight: bold;
    list-style: none;
    padding-right: 1.875em;
}

#langueb {
    background: #0585CB;
    border: none;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.souligner:hover {
    text-decoration: underline;
}

#cp {
    background: #0585CB;
    color: #7dadda;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.688em;
    margin: 0;
    padding-bottom: 4em;
    display: flex;
    justify-content: center;
}